<div class="wrapper">
  <div class="notes">
    <div class="notes__section">
      <div class="notes__header">Links:</div>
      <div class="notes__content">
        <li><a href="https://quilljs.com/">Сайт</a></li>
        <li><a href="https://github.com/quilljs/quill">Github Quill</a></li>
        <li>
          <a href="https://github.com/KillerCodeMonkey/ngx-quill"
            >Github Quill-Angular</a
          >
        </li>
      </div>
    </div>
    <div class="notes__section">
      <div class="notes__header">License:</div>
      <div class="notes__content">
        <li>Quill - BSD 3-clause</li>
        <li>Quill-Angular - MIT</li>
      </div>
    </div>
    <div class="notes__section">
      <div class="notes__header">Notes:</div>
      <div class="notes__content">
        <div>- Похоже, что нет таблиц</div>
      </div>
    </div>
  </div>
  <div class="editor">
    <quill-editor></quill-editor>
  </div>
</div>
