<div class="wrapper">
  <div class="notes">
    <div class="notes__section">
      <div class="notes__header">Links:</div>
      <div class="notes__content">
        <li>
          <a href="https://github.com/stevermeister/ngx-wig">Github NgxWig</a>
        </li>
      </div>
    </div>
    <div class="notes__section">
      <div class="notes__header">License:</div>
      <div class="notes__content">
        <li>MIT</li>
      </div>
    </div>
    <div class="notes__section">
      <div class="notes__header">Notes:</div>
      <div class="notes__content">
        <div>+ Easy to install</div>
        <div>- Very little capabilities</div>
      </div>
    </div>
  </div>
  <div class="editor">
    <ngx-wig></ngx-wig>
  </div>
</div>
