@import '../../../shared/styles/colors.less';

.menu-bar {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.menu-item {
  color: @color-night;
  &__label {
    color: @color-night;
    text-decoration: none;
  }
}
