@import '../../../shared/styles/colors.less';

.menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
}

.menu-item {
  padding: 10px;
  &__label {
    text-decoration: none;
    cursor: pointer;
    &--selected {
      border-bottom: 2px solid @color-night;
    }
  }
}
