<div class="wrapper">
  <div class="notes">
    <div class="notes__section">
      <div class="notes__header">Links:</div>
      <div class="notes__content">
        <li><a href="https://xdsoft.net/jodit/">Сайт</a></li>
        <li><a href="https://github.com/xdan/jodit">Github Jodit</a></li>
        <li>
          <a href="https://github.com/jodit/jodit-angular"
            >Github Jodit-Angular</a
          >
        </li>
      </div>
    </div>
    <div class="notes__section">
      <div class="notes__header">License:</div>
      <div class="notes__content">
        <li>Jodit - MIT</li>
        <li>Jodit-Angular - MIT</li>
      </div>
    </div>
    <div class="notes__section">
      <div class="notes__header">Notes:</div>
      <div class="notes__content">
        <div>- Не вижу вставки файла с диска</div>
        <div>- Не умеет вставлять картинки из буфера</div>
        <div>? Больше команд по дефолту, чем Quill</div>
        <div>? Как регулировать высоту?</div>
        <div>~ Умеет fullscreen</div>
        <div>+ Не требует лишних зависимостей и глобальных определений</div>
        <div>+ Есть таблицы, вроде без глюков</div>
        <div>+ Есть примеры где много редакторов на странице</div>
      </div>
    </div>
  </div>
  <div class="editor">
    <jodit-editor></jodit-editor>
  </div>
</div>
