<div class="wrapper">
  <div class="notes">
    <div class="notes__section">
      <div class="notes__header">Links:</div>
      <div class="notes__content">
        <li><a href="https://xdsoft.net/jodit/">Website</a></li>
        <li><a href="https://xdsoft.net/jodit/examples/">Examples</a></li>
        <li><a href="https://github.com/xdan/jodit">Github Jodit</a></li>
        <li>
          <a href="https://github.com/jodit/jodit-angular"
            >Github Jodit-Angular</a
          >
        </li>
      </div>
    </div>
    <div class="notes__section">
      <div class="notes__header">License:</div>
      <div class="notes__content">
        <li>Jodit - MIT</li>
        <li>Jodit-Angular - MIT</li>
      </div>
    </div>
    <div class="notes__section">
      <div class="notes__header">Notes:</div>
      <div class="notes__content">
        <div>- Does upload file from disk</div>
        <div>- Can't insert pics via Ctrl+V</div>
        <div>~ Set height in code</div>
        <div>~ Can go fullscreen</div>
        <div>+ Easy to install</div>
        <div>+ Tables are fine</div>
        <div>+ Supports multiple editors on page</div>
      </div>
    </div>
  </div>
  <div class="editor">
    <jodit-editor></jodit-editor>
  </div>
</div>
